/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color : #000;
    overflow:hidden;
}



:root {
  --accent-color: #52b529;
}


.wrapper {
    overflow : hidden;
}


.main {
    height : 80%;
    width : 100%;
    background : #000;
    color : #fff;
    padding-bottom : 300px;
}

.main .player-status {
   
}




.playbar {
    position            : absolute;
    bottom              : 0;
    width               : 100%;
    height              : 115px;
    background-color    : #fff;
    text-align          : center;
}

.playbar.ui-dark {
    background-color    : #000;
    color               : #fff;
    text-align          : center;
}

.ui-mute {
    display : none;
}

.playbar-more,
.playbar-meta {
    display             : none;
}


.playbar .container-fluid {
    height              : auto;
    padding-left : 0px;
    padding-right : 0px;
    overflow: hidden;
}

.playbar-controls .icon-active {
    color               : var(--accent-color);
}

.playbar-progress {
    background-color    : var(--accent-color);
    height              : 3px;
    width               : 100%;
    margin-left         : 0px;
    margin-right        : 0px;
    
    
    transition: width 3s;
    transition-timing-function: linear;
}


.playbar-aux .playbar-progress {
    background-color    : transparent;
    height              : 3px;
}



.playbar-metabar {
    margin  : 0em;
    padding : 0em;
}

.playbar-metabar .meta {
    list-style-type : none;
}
.playbar-metabar .meta li {
    font-size       : 0.8em;
}

.playbar-metabar .meta li span {
    width           : 100%;
    
}

.playbar-metabar .meta li span.album {
    width           : 65%;
    display         : inline-flex;
}



.player-nav-menu {
    background-color : transparent !important;
}



.player-main-menu {
    background: #333;
    color : #fff;
    margin : 5%;
    border-radius: 30px;
}

.player-main-menu li {
    background: #333;
    color : #fff;
    width : 90%;
    margin-left : 5%;
    padding : 3% 3% 3% 0%;
    border-bottom: 1px solid #666;
   
}

.player-main-menu h3 {
    font-size : 125%;
}





.player-lcd {
    font-family: 'Baloo2 Regular';
    color : #fff;
    text-align : center;
    padding : 15px;
    position : absolute;
    top: 2em;
}

.player-lcd .ui-lcd-clock {
    font-size : 250%;
}



.ui-system-status {
    color : #fff;
    text-align : right;
}





.ui-cover-view {
   display  : flex;
}








/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/* Desktop (landscape) ----------- */
@media (min-width: 1281px) {
    
    .ui-scroll {
        padding-right: 0.75em;
    }
    
    .ui-scroll:hover {
        overflow-y: auto;
        padding-right: 0em;
    }
    
    .ui-scroll::-webkit-scrollbar {
        width: 0.75em;
    }

    .ui-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .ui-scroll::-webkit-scrollbar-thumb {
      background-color: #333;
      outline: 1px solid #333;
       
    }
    
    .player-lcd {
        padding : 15px;
        position : absolute;
        top: 7em;
    }
    
    .player-lcd .ui-lcd-clock {
        font-size : 500%;
    }
    
    
    .act-toggle {
        margin-top : -15px;
    }
    
    
    
    

}




/* Pi Touch (landscape) ----------- */
@media only screen and (max-device-width : 850px) and (orientation : landscape) {
    .hidden-l-pi {
        display : none;
    }
    
    .playbar {
      height: 90px;
    }
    
    .player-lcd {
        top: 5em;
    }
    
    .ui-cover-view {
       margin-left : 200px;
        margin-top : 30px;
    }
    
    .act-toggle {
        margin-top : -10px;
    }
    
    .cv-meta-wrapper {
        position: fixed;
        width: 100%;
        bottom: 130px;
        left: 0px;
        padding-left: 43px;
        padding-right: 30px;

    }

    .cv-meta-wrapper .cv-meta-small,
    .cv-meta-wrapper .cv-meta-huge {
        display : inline-block;
    }

    .cv-meta-wrapper .cv-meta-huge {
        font-size: 300%;
        opacity: 0.1;
        margin-top : -50px;
        line-height : 100%;
    }

    .cv-meta-wrapper .cv-meta-small {
        font-size: 125%;
    }
}

/* Pi Touch (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
    .hidden-p-pi {
        display : none;
    }
    
    .playbar {
      height: 75px;
    }
    
    .ui-cover-view {
        margin-top : 30px;
       
    }
    
    .main {
        margin-top      : 100px; 
        margin-bottom   : -100px;
        
    }
    
    .main.row {
        margin-left     : 0px;
        margin-right    : 0px;
    }
    
    .player-main-menu {
        margin : 10% 0% 0% 10%;
    }

    .player-main-menu li {
        width : 90%;
        margin-left : 5%;
        padding : 3% 3% 3% 3%;

    }
    
    .act-toggle {
        margin-top : -20px;
    }
    
    .cv-meta-wrapper {
        position: fixed;
        width: 100%;
        bottom: 175px;
        left: 0px;
        padding-left: 30px;
        padding-right: 30px;

    }

    .cv-meta-wrapper .cv-meta-small,
    .cv-meta-wrapper .cv-meta-huge {
        display : inline-block;
    }

    .cv-meta-wrapper .cv-meta-huge {
        font-size: 300%;
        opacity: 0.1;
        margin-top : -50px;
        line-height : 100%;
    }

    .cv-meta-wrapper .cv-meta-small {
        font-size: 125%;
    }
}




/* Pi Touch (landscape) ----------- */
@media only screen and (max-device-height : 411px) and (orientation : landscape) {
    .cv-meta-wrapper {
        bottom: 85px;
    }
}
