/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color : #000;
    overflow:hidden;
}



:root {
  --accent-color: #52b529;
}


.wrapper {
    overflow : hidden;
}


.main {
    height : 80%;
    width : 100%;
    background : #000;
    color : #fff;
    padding-bottom : 300px;
}

.main .player-status {
   
}




.playbar {
    position            : absolute;
    bottom              : 0;
    width               : 100%;
    height              : 115px;
    background-color    : #fff;
    text-align          : center;
}

.playbar-more {
    display             : none;
}


.playbar .container-fluid {
    height              : auto;
}

.playbar-controls .icon-active {
    color               : var(--accent-color);
}

.playbar-progress {
    background-color    : var(--accent-color);
    height              : 3px;
    margin-left         : -15px;
    margin-right        : -15px;
}


.player-nav-menu {
    background-color : transparent !important;
}



.player-main-menu {
    background: #333;
    color : #fff;
    margin : 5%;
    border-radius: 30px;
}

.player-main-menu li {
    background: #333;
    color : #fff;
    width : 90%;
    margin-left : 5%;
    padding : 3% 3% 3% 0%;
    border-bottom: 1px solid #666;
   
}

.player-main-menu h3 {
    font-size : 125%;
}





.player-lcd {
    font-family: 'Baloo2 Regular';
    color : #fff;
    text-align : center;
    padding : 15px;
    position : absolute;
    top: 2em;
}

.player-lcd .ui-lcd-clock {
    font-size : 250%;
}



.ui-system-status {
    color : #fff;
    text-align : right;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


/* Desktop (landscape) ----------- */
@media (min-width: 1281px) {
    
    .ui-scroll {
        padding-right: 0.75em;
    }
    
    .ui-scroll:hover {
        overflow-y: auto;
        padding-right: 0em;
    }
    
    .ui-scroll::-webkit-scrollbar {
        width: 0.75em;
    }

    .ui-scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    .ui-scroll::-webkit-scrollbar-thumb {
      background-color: #333;
      outline: 1px solid #333;
       
    }
    
    .player-lcd {
        padding : 15px;
        position : absolute;
        top: 7em;
    }
    
    .player-lcd .ui-lcd-clock {
        font-size : 500%;
    }

}




/* Pi Touch (landscape) ----------- */
@media only screen and (max-device-width : 850px) and (orientation : landscape) {
    .hidden-l-pi {
        display : none;
    }
    
    .playbar {
      height: 90px;
    }
    
    .player-lcd {
        top: 5em;
    }
}

/* Pi Touch (portrait) ----------- */
@media only screen and (max-device-width : 480px) and (orientation : portrait) {
    .hidden-p-pi {
        display : none;
    }
    
    .playbar {
      height: 75px;
    }
    
    .main {
        margin-top      : 100px; 
        margin-bottom   : -100px;
        
    }
    
    .player-main-menu {
        margin : 10% 0% 0% 10%;
    }

    .player-main-menu li {
        width : 90%;
        margin-left : 5%;
        padding : 3% 3% 3% 3%;

    }
}
